---
title: Home
namespace: home
permalink: /
---

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <header>
      <img src="{{ "/assets/images/logo.png" | prepend: site.baseurl_root }}" alt="{{ site.title }}" />

    </header>
    <div>
      <p class="conference-dates">{% t conference.dates %}</p>
      <p class="conference-city">{% t conference.city %} - {% t conference.state %}</p>
      <p class="purchase-early">{% t texts.purchase_your_registration_early %}</p>
      <a href="{{ site.sistemas.inscricoes  }}" target="_blank" class="button large primary">{% t actions.register %}</a>
    </div>
  </div>
</section>

<!-- Callouts -->
<section class="wrapper">
  <div class="inner">
    <div class="double-division">
      <div class="feature teaser-agilebrazil-2022">
        <div class="actions special">
          <iframe src="https://www.youtube.com/embed/6Mzp5y_pEoE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
      <div class="feature">
        <div class="heading">
          <h2>{% t labels.biggest_community_event %}</h2>
          <p>{% t texts.biggest_community_event_text %}</p>
        </div>
        <h3 class="regular-call-text">{% t texts.check_agile_brazil_2022 %}</h3>
        <ul class="actions special">
          {% if site.data.toggles.photos %}
            <li><a href="https://drive.google.com/drive/folders/1TSVqO1Uoeh88KX6s83IIr7waX_tYXkCl" target="_blank" class="button primary">{% t actions.see_photos %}</a></li>
          {% endif %}
            <li><a href="https://www.youtube.com/channel/UCq45wLjEs9BRRreV02Fe8rw" target="_blank" class="button primary">{% t actions.see_videos %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Callouts -->
<section class="wrapper style1">
  <div class="inner">
    <h2 class="regular-call-text">{% t texts.initial_batch_call %}</h2>
    <ul class="actions special">
      <li><a href="{{ site.sistemas.inscricoes }}" blank="_blank" class="button primary">{% t actions.want_my_ticket %}</a></li>
    </ul>
  </div>
</section>

<!-- Callouts -->
<section id="callouts" class="wrapper">
  <div class="inner">
    {% include interactive-program.html %}
  </div>
</section>

<section id="callouts" class="wrapper style1">
  <div class="inner">
    <div class="be-a-sponsor feature">
      <header class="heading">
        <h2>{% t labels.be_a_sponsor %}</h2>
        <p>{% t labels.your_brand_on_agilebrazil %}</p>
      </header>
      <p>{% t texts.your_brand_on_agilebrazil %}</p>
      <ul class="actions special">
        <li><a href="{% tl sponsorship %}" class="button primary">{% t actions.build_your_sponsorship %}</a></li>
      </ul>
    </div>
    </div>
  </div>
</section>


{% if site.data.toggles.keynotes %}
<section id="keynotes" class="wrapper">
  <div class="inner">
    <header class="heading major">
      <h2>{% t labels.keynotes %}</h2>
    </header>

    {% include keynotes.html %}
  </div>
</section>
{% endif %}

<section id="protocolos" class="wrapper">
  <div class="inner">
    <header class="heading">
      <h2>{% t titles.about %}</h2>
      <p>{% t texts.tips_to_make_our_event_excellent %}</p>
    </header>
    <div class="spotlights">
      <div class="spotlight">
        <article class="content">
          <h3>{% t nav.code_of_conduct %}</h3>
          <p>{% t texts.code_of_conduct %}</p>
          <ul class="actions special">
            <li><a href="{% tl code_of_conduct %}" class="button primary">{% t actions.read_the_code_of_conduct %}</a></li>
          </ul>
        </article>
      </div>
      {% if site.data.toggles.covid %}
        <div class="spotlight">
          <article class="content">
            <h3>{% t labels.health_protocols %}</h3>
            <p>{% t texts.health_protocols %}</p>
            <ul class="actions special">
              <li><a href="{% tl about %}{% t nav.about_covid_protocol_anchor %}" class="button primary">{% t actions.know_health_actions %}</a></li>
            </ul>
          </article>
        </div>
      {% endif %}
      <div class="spotlight">
        <article class="content">
          <h3>{% t labels.privacy_policy %}</h3>
          <p>{% t texts.privacy_policy %}</p>
          <ul class="actions special">
            <li><a href="{% tl privacy_policy %}" class="button primary">{% t actions.privacy_policy %}</a></li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>
