---
title: Home
namespace: home
permalink: /
---

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <header>
      <img src="{{ "/assets/images/logo.png" | prepend: site.baseurl_root }}" alt="{{ site.title }}" />

    </header>
    <div>
      <p class="conference-dates">{% t conference.dates %}</p>
      <p class="conference-city">{% t conference.city %} - {% t conference.state %}</p>
      <p class="purchase-early">{% t texts.purchase_your_registration_early %}</p>
      <a href="{{ site.sistemas.inscricoes  }}" target="_blank" class="button large primary">{% t actions.register %}</a>
    </div>
  </div>
</section>

<!-- Callouts -->
{% if site.data.toggles.home_submissions %}
  <section class="wrapper home-submissions">
    <div class="inner">
      <header class="heading">
        <h2 class="regular-call-text">{% t texts.submissions_are_open %}</h2>
        <p>Da comunidade para a comunidade</p>
      </header>
      <p>Este evento é feito por vocês! Submeta sua palestra ou workshop e contribua com o maior evento de Agilidade, Produtos e Inovação da América Latina.</p>
      <ul class="actions special">
        <li><a href="{{ site.sistemas.submissoes }}" blank="_blank" class="button primary">{% t actions.want_be_a_speaker %}</a></li>
      </ul>
    </div>
  </section>
{% else %}
<!-- 
  <section class="wrapper style1">
    <div class="inner">
      <div class="double-division">
        <div class="feature teaser-agilebrazil-2022">
          <div class="actions special">
            <iframe src="https://www.youtube.com/embed/6Mzp5y_pEoE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
        <div class="feature">
          <div class="heading">
            <h2>{% t labels.biggest_community_event %}</h2>
            <p>{% t texts.biggest_community_event_text %}</p>
          </div>
          <h3 class="regular-call-text">{% t texts.check_agile_brazil_2022 %}</h3>
          <ul class="actions special">
              <li><a href="https://drive.google.com/drive/folders/1TSVqO1Uoeh88KX6s83IIr7waX_tYXkCl" target="_blank" class="button primary">{% t actions.see_photos %}</a></li>
              <li><a href="https://www.youtube.com/channel/UCq45wLjEs9BRRreV02Fe8rw" target="_blank" class="button primary">{% t actions.see_videos %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section> -->

  <section id="program-index" class="wrapper style1">
    <div class="inner">
      <div class="feature">
        <div class="heading">
          <h2 style="color: #fff;">Considerado o maior evento da comunidade de Agilidade, Produtos e Inovação da América Latina.</h2>
        </div>
        <h3>Em 2023 teremos</h3>
        <ul class="actions special">
          <li>
            <h1>+73</h1>
            <h3>Palestras</h3>
          </li>
          <li>
            <h1>+120</h1>
            <h3>Palestrantes</h3>
          </li>
          <li>
            <h1>+18</h1>
            <h3>Workshops</h3>
          </li>
        </ul>
        <ul class="actions special">
          <li><a href="./programa" class="button primary">Confira a programação</a></li>
        </ul>
      </div>
    </div>
  </section>
{% endif %}

<!-- Callouts -->
{% if site.data.toggles.initial_batch_call %}
  <section class="wrapper">
    <div class="inner">
      <header class="heading">
        <h2 class="regular-call-text">{% t texts.initial_batch_call %}</h2>
        <p>{% t texts.secure_your_spot %}</p>
      </header>
      <ul class="actions special">
        <li><a href="{{ site.sistemas.inscricoes }}" target="_blank" class="button primary">{% t actions.want_my_ticket %}</a></li>
      </ul>
    </div>
  </section>
{% endif %}

{% if site.data.toggles.keynotes %}
<section id="keynotes" class="wrapper style1">
  <div class="inner">
    <header class="heading major"  style="border-bottom: navajowhite; margin: 0 auto 1rem auto;">
      <h2 style="color: #063676;">MASTERCLASS</h2>
    </header>
    <div class="spotlights">
      <div class="spotlight imagem-masterclass">
        <img style="max-width: 100%; border-radius: 20px;" src="assets/images/speakers/masterclass_arie.png">
      </div>
      <div class="spotlight text-masterclass" style="text-align: inherit;">
        <p style="margin: 0 0 1rem 0 !important;">
          Arie Van Bennekum, coautor do Manifesto Ágil, irá compartilhar insights valiosos sobre como garantir que você gerencie seu negócio de forma ágil e eficaz. Durante esses dois dias intensivos, você irá explorar tópicos cruciais, incluindo: <strong>Entrega de Valor, Inovação, Gestão de Recursos Humanos, Colaboração Corporativa, Estratégia de Conexão e Entrega.</strong>
        </p>
        <p style="margin: 0 0 1rem 0 !important;"><strong>Não perca esta oportunidade!</strong></p>
        <p style="margin: 0 0 1rem 0 !important;"><strong>Você ganhará:</strong></p>
        <ul style=" margin: 0 0 1rem 0;">
          <li><strong>Conhecimentos profundos em Business Agility.</strong></li>
          <li><strong>Networking com outros profissionais e líderes empresariais.</strong></li>
          <li><strong>Uma visão clara de como impulsionar seu negócio com agilidade.</strong></li>
          <li><strong>E seu ingresso para Agile Brazil 2023</strong></li>
        </ul>
        <p>*A Masterclass será em inglês e sem tradução simultânea</p>
      </div>
      <div class="spotlight buttun-masterclass" style="display: flex;">
        <ul style="margin: auto !important;" class="actions special">
          <li><a  style="
            display: inline-table;
            max-width: 260px !important;
            white-space: normal;
            line-height: 1.5rem;
            padding-top: 1rem;
            padding-bottom: 1rem;" href="{{ site.sistemas.inscricoes }}" target="_blank" class="button primary">Quero participar da Masterclass</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if site.data.toggles.keynotes %}
<section id="keynotes" class="wrapper">
  <div class="inner">
    <header class="heading major">
      <h2>{% t labels.keynotes %}</h2>
    </header>

    {% include keynotes.html %}
  </div>
</section>
{% endif %}

{% if site.data.toggles.keynotes_shortly %}
<section id="keynotes" class="wrapper">
  <div class="inner">
    <header class="heading major">
      <h2>{% t labels.keynotes %}</h2>
    </header>

    <h3 class="regular-call-text">{% t texts.keynotes_shortly %}</h3>
  </div>
</section>
{% endif %}

<section id="home-trilhas" class="wrapper style1">
  <div class="inner">
    <header class="heading major">
      <h2>TRILHAS</h2>
    </header>
    <div class="spotlights">
      <div class="spotlight">
        <article class="content trilha-raiz-agilidade">
          <div class="header-trilha">
            <h3>Raízes da Agilidade</h3>
          </div>
          <div class="body-trilha">
            <p>É no desenvolvimento de software que a agilidade nasceu e até hoje se faz muito presente. Nessa trilhar vais encontrar em como usar a agilidade nos mais variados times a descobrir melhores maneiras de entregar valor.</p>
          </div>
        </article>
      </div>
      <div class="spotlight">
        <article class="content trilha-lideranca">
          <div class="header-trilha">
            <h3>Liderança e Agilidade Estratégica</h3>
          </div>
          <div class="body-trilha">
            <p>Esta trilha é dedicada a falar de agilidade como tema estratégico para as organizações e como as lideranças de hoje - em qualquer área de negócio - podem se beneficiar desse conhecimento.</p>
          </div>
        </article>
      </div>
      <div class="spotlight">
        <article class="content trilha-metricas">
          <div class="header-trilha">
            <h3>Métricas e Inteligência com Dados</h3>
          </div>
          <div class="body-trilha">
            <p>Aqui você encontra tudo sobre, como construir produtos orientados a necessidades, validar hipóteses, melhorar fluxos, aumentar eficiência e eficácia, priorizar um backlog...</p>
          </div>
        </article>
      </div>
      <div class="spotlight">
        <article class="content trilha-foco-cliente">
          <div class="header-trilha">
            <h3>Produtos e Foco no Cliente</h3>
          </div>
          <div class="body-trilha">
            <p>A capacidade de se adaptar rapidamente às necessidades e desejos dos clientes é fundamental dentro do mundo ágil. Bons produtos precisam de boas estratégias.</p>
          </div>
        </article>
      </div>
      <div class="spotlight">
        <article class="content trilha-futuro">
          <div class="header-trilha">
            <h3>Futuro da Agilidade</h3>
          </div>
          <div class="body-trilha">
            <p>Mas será que temos todas as respostas para o futuro emergente? Venha desvendar esses mistérios conosco! Queremos entender sobre os nossos problemas - os atuais e os próximos.</p>
          </div>
        </article>
      </div>
  </div>
</section>
<!---
  **************************
-->

<!-- Callouts -->
<section class="wrapper">
  <div class="inner">
    {% include interactive-program.html %}
  </div>
</section>

<section class="wrapper home-submissions style1 referencias-locais">
  <div class="inner">
    <header class="heading major">
      <h2>São Paulo</h2>
      <p>Conheça um pouco mais da cidade e planeje a sua estadia.</p>
    </header>
    <div class="spotlights">
      <div class="spotlight">
        <article class="content">
          <h3>Guia turístico</h3>
          <p>A cidade de São Paulo dispõe de uma grande diversidade de experiências e riqueza cultural, por isso temos um guia que pode agregar na sua vinda.</p>
          <ul class="actions special">
            <li><a href="/2023/assets/SP_Guia_organized.pdf" target="_blank" class="button primary">Guia turístico</a></li>
          </ul>
        </article>
      </div>
      <div class="spotlight">
        <article class="content">
          <h3>Dicas para alimentação e muito mais</h3>
          <p>Temos uma série de recomendações de gastronómicas, de lazer e cultura na região onde será Agile Brazil 2023.</p>
          <ul class="actions special">
            <li><a href="/2023/assets/8_mini_guiaok.pdf" target="_blank" class="button primary">Recomendações</a></li>
          </ul>
        </article>
      </div>
      <div class="spotlight">
        <article class="content">
          <h3>Hospedagem</h3>
          <p>Sabendo que boa parte do nosso público vem de outras localidades, o Comitê Local vem fechando parcerias e descontos com hotéis em São Paulo.</p>
          <ul class="actions special">
            <li><a href="https://docs.google.com/spreadsheets/d/1HFUV7b8h0mRhSVicqwoeJk7tszISTPdfboqPyXLpc5k/edit?usp=sharing" target="_blank" class="button primary">Acomodações</a></li>
          </ul>
        </article>
      </div>
      <div class="spotlight">
        <article class="content">
          <h3>Happy Hour</h3>
          <p>Temos uma série de recomendações de lugares para curtir um Harry Hour Após os dias do Agile Brazil.</p>
          <ul class="actions special">
            <li><a href="https://docs.google.com/spreadsheets/d/1iJYkZ6aU1zAk8c5V220Q485U-eEHCOzNGChYjGKaIYU/edit?usp=sharing" target="_blank" class="button primary">Happy Hour</a></li>
          </ul>
        </article>
      </div>
  </div>
</section>

<!---
  **************************
-->

{% if site.data.toggles.community_forms %}
  <section class="wrapper home-submissions">
    <div class="inner">
      <header class="heading">
        <h2 class="regular-call-text">Fala, Comunidade!</h2>
        <p style="color: #282828;">O que você gostaria de ver nos corredores da Agile, pode / quer nos contar? <br/> 
          O que são corredores? <br/>
          Literalmente corredores, espaços onde andamos trocando de salas para palestras e workshop. Onde aproveitamos para compartilhar ideias/ desafios porque colaborar está no nosso DNA.</p>
      </header>
      <ul class="actions special">
        <li><a href="{{ site.forms.community }}" blank="_blank" class="button primary">{% t actions.community_quiz %}</a></li>
      </ul>
    </div>
  </section>
{% endif %}

<section id="section-sponsor" class="wrapper">
  <div class="inner">
    <div class="be-a-sponsor feature">
      <header class="heading">
        <h2>{% t labels.be_a_sponsor %}</h2>
        <p>{% t labels.your_brand_on_agilebrazil %}</p>
      </header>
      <p>{% t texts.your_brand_on_agilebrazil %}</p>
      <ul class="actions special">
        <li><a href="{% tl sponsorship %}" class="button primary">{% t actions.build_your_sponsorship %}</a></li>
      </ul>
    </div>
    </div>
  </div>
</section>

<section id="protocolos" class="wrapper style1">
  <div class="inner">
    <header class="heading">
      <h2>{% t titles.about %}</h2>
      <p>{% t texts.tips_to_make_our_event_excellent %}</p>
    </header>
    <div class="spotlights">
      <div class="spotlight">
        <article class="content">
          <h3>{% t nav.code_of_conduct %}</h3>
          <p>{% t texts.code_of_conduct %}</p>
          <ul class="actions special">
            <li><a href="{% tl code_of_conduct %}" class="button primary">{% t actions.read_the_code_of_conduct %}</a></li>
          </ul>
        </article>
      </div>
      {% if site.data.toggles.covid %}
        <div class="spotlight">
          <article class="content">
            <h3>{% t labels.health_protocols %}</h3>
            <p>{% t texts.health_protocols %}</p>
            <ul class="actions special">
              <li><a href="{% tl about %}{% t nav.about_covid_protocol_anchor %}" class="button primary">{% t actions.know_health_actions %}</a></li>
            </ul>
          </article>
        </div>
      {% endif %}
      <div class="spotlight">
        <article class="content">
          <h3>{% t labels.privacy_policy %}</h3>
          <p>{% t texts.privacy_policy %}</p>
          <ul class="actions special">
            <li><a href="{% tl privacy_policy %}" class="button primary">{% t actions.privacy_policy %}</a></li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>

<section id="protocolos" class="wrapper style1">
  <div class="inner">
    <header class="heading">
      <h2>Dúvidas</h2>
    </header>
    <div class="spotlights">
      <div class="spotlight">
        <article class="content">
          <h3>Inscrito</h3>
          <p>Você tem dúvidas sobre inscrições e participação no evento</p>
          <ul class="actions special">
            <li><a href="{% tl faq %}" class="button primary">DÚVIDAS FREQUENTES</a></li>
          </ul>
        </article>
      </div>
      <div class="spotlight">
        <article class="content">
          <h3>Palestrante</h3>
          <p>Você tem dúvidas sobre sua participação e organização no evento</p>
          <ul class="actions special">
            <li><a href="{% tl faq_speakers %}" class="button primary">DÚVIDAS FREQUENTES</a></li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>

<div class="backgroud-modal" style="opacity: 0;">
  <div class="modal-inscricao">
    <div class="fechar"><img src="{{ "/assets/images/fechar.png" | prepend: site.baseurl_root }}" /></div>
    <a href="{{ site.sistemas.inscricoes  }}" target="_blank">
      <img class="chamada-inscricao" src="{{ "/assets/images/popup-compra.png" | prepend: site.baseurl_root }}" />
    </a>
    <div class="button primary">fechar</div>
  </div>
</div>