---
title: nav.program
namespace: program-v2
permalink: /programa-v2
permalink_en: /program-v2
---

<div id="main" class="wrapper style1">
  <div class="inner">
    <header class="heading major">
      <h1>Programação Agile Brazil 23</h1>
    </header>

    <div style="    margin: 100px;    height: 5px;     background-color: #000;">
      <hr/>
    </div>

    <section id="program-intregration-v1"  class="program">
      <div class="dias">
        <ul  class="actions special">
          <li><div class="button primary">Dia 09</div></li>
          <li><div class="button primary">Dia 10</div></li>
          <li><div class="button primary">Dia 11</div></li>
        </ul>
      </div>
      <div class="locais">
        <div class="local auditorio">
          Auditório
        </div>
        <div class="local palestra">
          Palestra 1
        </div>
        <div class="local palestra">
          Palestra 2
        </div>
        <div class="local palestra">
          Palestra 3
        </div>
        <div class="local workshop">
          workshop 1
        </div>
        <div class="local workshop">
          workshop 2
        </div>
        <div class="local workshop">
          workshop 3
        </div>
      </div>

      <div class="time-30 full-space">
        <p>9:00</p>
      </div>

        <div class="activity full-space">
          credenciamento
        </div>


      <div class="time-50 full-space">
        <p>9:30</p>
      </div>

        <div class="activity full-space">
          keynote - Pia Maria
        </div>

      <div class="time-30 full-space">
        <p>10:20</p>
      </div>

        <div class="activity full-space">
          welcome coffee
        </div>

      <div class="time-30">
        <p>10:50</p>
      </div>
        
        <div class="activity local time-30">
          <p>Como utilizamos métricas de experiência para suportar uma jornada de descoberta contínua para produtos internos - Daniel Vitor Costa Ferreira e Eudes Raphael de Sá Santana</p>
        </div>
           
        <div class="activity local time-30">
          <p>A Maldição do Conhecimento e a Construção de Pontes na Agilidade - Gustavo Ayres Ferreira</p>
        </div>
           
        <div class="activity local time-30">
          <p>Como Migrar de Gerenciamento de Projetos Tradicionais para Fluxos de Valor - Mônica Fonseca</p>
        </div>
           
        <div class="activity local time-30">
          <p>Boas habilidades, precisam de bons facilitadores. - jailson barbosa de lima</p>
        </div>
           
        <div class="activity local time-130">
          <p>Jogo da Segurança Psicológica: Vamos aprender a avaliar os ambientes? - Daniela Gomes dos Santos</p>
        </div>
            
        <div class="activity local time-130">
          <p>XP Game - O desafio de tornar seu time de desenvolvimento mais ágil - Wagner Fusca Voltz e Pedro Luiz Martins Cruz</p>
        </div>
            
        <div class="activity local time-130">
          <p>JOGAM-SE CARTAS: poderoso baralho de tendências para trazer sua visão de futuro e traçar um mapa estratégico para sair da inércia em 130 minutos - Estefany Medici e Maíra do Vale Machado</p>
        </div>

      <div class="time-10">
        11:20
      </div>
      <div class="interval time-10">
        Intervalo
      </div>
    
    </section>


    <div style="    margin: 100px;    height: 5px;     background-color: #000;">
      <hr/>
    </div>

    <section id="program-intregration"  class="program">

    </section>

    <div style="    margin: 100px;    height: 5px;     background-color: #000;">
      <hr/>
    </div>

    <header class="heading major">
      <h1>Palestrantes</h1>
      <p>O que vai rolar na Agile Brazil 2023</p>
    </header>

    <div class="profile" style="max-width: 300px;     text-align: center;">
      <div class="image-keynotes">
        <img style="width: 80%; height:auto;" src="https://ui-avatars.com/api/?background=45789C&color=fff&rounded=true&name=Eudes Raphael de Sá Santana" />
      </div>
      <p>Eudes Raphael de Sá Santana</p>
      <ul class="icons">
        <li><a href="{{ keynote.linkedin }}" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
        <li><a href="{{ keynote.twitter }}" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
        <li><a href="{{ keynote.site }}" class="icon solid fas fa-link" target="_blank"><span class="label">Website</span></a></li>
        <li><a href="{{ keynote.spotify }}" class="icon brands fa-spotify" target="_blank"><span class="label">Podcast</span></a></li>
      </ul>
    </div>
<!--
    <section class="program">
      <h2>Mãos na Massa</h2>
      <ul class="workshops">
      {% assign workshops = site.data.sessions | where:"type", "Mão Na Massa" %}
      {% for workshop in workshops %}
        {% include session.html session=workshop %}
      {% endfor %}
      </ul>

      <h2>Apresentações</h2>
      <ul class="talks">
      {% assign talks = site.data.sessions | where:"type", "Apresentação" %}
      {% for talk in talks %}
        {% include session.html session=talk %}
      {% endfor %}
      </ul>
    </section>

    <hr>
  -->
<!--
    <p>Para conhecer um pouco do conteúdo que recebemos na conferência, assista as palestras de outras edições da Agile Brazil no nosso canal no Youtube!</p>
        <ul class="actions special">
          <li><a href="https://www.youtube.com/channel/UCq45wLjEs9BRRreV02Fe8rw" class="button primary" target="_blank"><span class="fab fa-youtube"></span> Reveja conteúdo da AB</a></li>
        </ul>
      -->
  </div>
</div>
