---
title: nav.program
namespace: program
permalink: /programa
permalink_en: /program
---

<div id="main" class="wrapper style1">
  <div class="inner-full">
    <header class="heading major">
      <h1>Programação Agile Brazil 23</h1>
    </header>
    
      <center>
        <p>A programação da Agile Brazil está disponível no app, que será nossa fonte de verdade, mostrando inclusive eventuais mudanças na grade <em>live</em>. Ele é um WebApp e dá a possibilidade de adicionar um link à home do seu celular, para praticidade.</p>

        <a target="_blank" href="https://app.agilebrazil.com" class="button primary">Veja a programação no app!</a>
  
        <p>Acesso direto em: <a  target="_blank" href="https://app.agilebrazil.com">https://app.agilebrazil.com</a></p>
      </center>

    <section id="program-intregration-v2"  class="program" style="display: none;">
      <h3>Trilhas:</h3>
      <ul  class="legend-trilha">
        <li><div class="legend raizes"></div><div>Raízes da Agilidade</div></li>
        <li><div class="legend lideranca"></div><div>Liderança e Agilidade Estratégica</div></li>
        <li><div class="legend metrica"></div><div>Métricas e Inteligência com Dados</div></li>
        <li><div class="legend cliente"></div><div>Produtos e Foco no Cliente</div></li>
        <li><div class="legend futuro"></div><div>Futuro da Agilidade</div></li>
      </ul>
      <hr/>
      <div class="dias">
        <ul  class="actions special">
          <li><div class="button primary" id="program-9" onclick="program(9)">Dia 09</div></li>
          <li><div class="button primary" id="program-10" onclick="program(10)">Dia 10</div></li>
          <li><div class="button primary" id="program-11" onclick="program(11)">Dia 11</div></li>
        </ul>
      </div>
      <table class="full-screen">
        <thead>
          <tr class="locais">
            <th class="horario">
              
            </th>
            <th class="trilhas">
              <div  class="local auditorio card-program">Auditório</div>
            </th>
            <th class="trilhas">
              <div class="local palestra card-program">Palestra 1</div>
            </th>
            <th class="trilhas">
              <div class="local palestra card-program">Palestra 2</div>
            </th>
            <th class="trilhas">
              <div class="local palestra card-program">Palestra 3</div>
            </th>
            <th class="trilhas">
              <div class="local workshop card-program">workshop 1</div>
            </th>
            <th class="trilhas">
              <div class="local workshop card-program">workshop 2</div>
            </th>
            <th class="trilhas">
              <div class="local workshop card-program">workshop 3</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><div class="time card-program">8:00</div></td>
            <td colspan="7" id="identificacao-800"></td>
          </tr>
          <tr>
            <td><div class="time card-program">9:00</div></td>
            <td colspan="7" id="identificacao-900"></td>
          </tr>
          <tr>
            <td><div class="time card-program">10:20</div></td>
            <td colspan="7" id="identificacao-1020"></td>
          </tr>
          <tr>
            <td><div class="time card-program"><p>10:50</p></div></td>
            <td id="identificacao-1050-1"></td>                
            <td id="identificacao-1050-2"></td>                
            <td id="identificacao-1050-3"></td>                
            <td id="identificacao-1050-4"></td>
            <td rowspan="5" id="identificacao-1050-5"></td>
            <td rowspan="5" id="identificacao-1050-6"></td>
            <td rowspan="5" id="identificacao-1050-7"></td>
          </tr>
          <tr>
            <td class="time-10"><div class="time card-program">11:20</div></td>
            <td colspan="4"><div  class="interval card-program">Intervalo</div></td>
          </tr>
          <tr>
            <td class="time-30"><div class="time card-program"><p>11:30</p></div></td>
            <td id="identificacao-1130-1"></td>                
            <td id="identificacao-1130-2"></td>
            <td id="identificacao-1130-3"></td>
            <td id="identificacao-1130-4"></td>
          </tr>
          <tr>
            <td><div class="time card-program">12:00</div></td>
            <td colspan="4"><div class="interval card-program">Intervalo</div></td>
          </tr>
          <tr>
            <td><div class="time card-program"><p>12:10</p></div></td>
            <td id="identificacao-1210-1"></td>
            <td id="identificacao-1210-2"></td>
            <td id="identificacao-1210-3"></td>
            <td id="identificacao-1210-4"></td>
          </tr>
          <tr>
            <td><div class="time card-program">13:00</div></td>
            <td colspan="7"><div class="interval card-program">Almoço</div></td>
          </tr>
          <tr>
            <td><div class="time card-program"><p>14:30</p></div></td>
            <td id="identificacao-1430-1"></td>                
            <td id="identificacao-1430-2"></td>                
            <td id="identificacao-1430-3"></td>                
            <td id="identificacao-1430-4"></td>
            <td rowspan="5" id="identificacao-1430-5"></td>
            <td rowspan="5" id="identificacao-1430-6"></td>
            <td rowspan="5" id="identificacao-1430-7"></td>
          </tr>
          <tr>
            <td><div class="time card-program">15:00</div></td>
            <td colspan="4"><div class="interval card-program">Intervalo</div></td>
          </tr>
          <tr>
            <td><div class="time card-program"><p>15:10</p></div></td>
            <td id="identificacao-1510-1"></td>
            <td id="identificacao-1510-2"></td>
            <td id="identificacao-1510-3"></td>
            <td id="identificacao-1510-4"></td>
          </tr>
          <tr>
            <td><div class="time card-program">15:40</div></td>
            <td colspan="4"><div class="interval card-program">Intervalo</div></td>
          </tr>
          <tr>
            <td><div class="time card-program"><p>15:50</p></div></td>
            <td id="identificacao-1550-1"></td>
            <td id="identificacao-1550-2"></td>
            <td id="identificacao-1550-3"></td>
            <td id="identificacao-1550-4"></td>
          </tr>
          <tr>
            <td><div class="time card-program">16:40</div></td>
            <td colspan="7" id="identificacao-1640"></td>
          </tr>
          <tr class="linha-dia-padrao">
            <td><div class="time card-program">17:10</div></td>
            <td colspan="7" id="identificacao-1710"></td>
          </tr>
          <tr class="dia-linha-10">
            <td><div class="time card-program"><p>17:10</p></div></td>
            <td id="identificacao-1710-1"></td>
            <td id="identificacao-1710-2"></td>
            <td id="identificacao-1710-3"></td>
            <td id="identificacao-1710-4"></td>
            <td id="identificacao-1710-5"></td>
            <td id="identificacao-1710-6"></td>
            <td id="identificacao-1710-7"></td>
          </tr>
          <tr>
            <td><div class="time card-program">18:00</div></td>
            <td colspan="7" id="identificacao-1800"></td>
          </tr>
          <tr class="dia-linha-10">
            <td><div class="time card-program">18:30</div></td>
            <td colspan="7" id="identificacao-1830"></td>
          </tr>
        </tbody>
      </table>  



        <table class="response-version-screen">
          <tr>
            <td><div class="time card-program">8:00</div></td>
            <td id="identificacao-800"></td>
          </tr>
          <tr>
            <td><div class="time card-program">9:00</div></td>
            <td id="identificacao-900"></td>
          </tr>
          <tr>
            <td><div class="time card-program">10:20</div></td>
            <td id="identificacao-1020"></td>
          </tr>
          <tr>
            <td rowspan="4"><div class="time card-program"><p>10:50</p></div></td>
            <td id="identificacao-1050-1"></td>                
          </tr>
          <tr>
            <td id="identificacao-1050-2"></td>               
          </tr>
          <tr>
            <td id="identificacao-1050-3"></td>                
          </tr>
          <tr>
            <td id="identificacao-1050-4"></td>
          </tr>
          <tr>
            <td class="time-10"><div class="time card-program">11:20</div></td>
            <td><div  class="interval card-program">Intervalo</div></td>
          </tr>
          <tr>
            <td rowspan="4" class="time-30"><div class="time card-program"><p>11:30</p></div></td>
            <td id="identificacao-1130-1"></td>                
          </tr>
          <tr>
            <td id="identificacao-1130-2"></td>
          </tr>
          <tr>
            <td id="identificacao-1130-3"></td>
          </tr>
          <tr>
            <td id="identificacao-1130-4"></td>
          </tr>
          <tr>
            <td><div class="time card-program">12:00</div></td>
            <td><div class="interval card-program">Intervalo</div></td>
          </tr>
          <tr>
            <td rowspan="4"><div class="time card-program"><p>12:10</p></div></td>
            <td id="identificacao-1210-1"></td>
          </tr>
          <tr>
            <td id="identificacao-1210-2"></td>
          </tr>
          <tr>
            <td id="identificacao-1210-3"></td>
          </tr>
          <tr>
            <td id="identificacao-1210-4"></td>
          </tr>
          <tr>
            <td><div class="time card-program">13:00</div></td>
            <td><div class="interval card-program">Almoço</div></td>
          </tr>
          <tr>
            <td rowspan="4"><div class="time card-program"><p>14:30</p></div></td>
            <td id="identificacao-1430-1"></td> 
          </tr>
          <tr>               
            <td id="identificacao-1430-2"></td>  
          </tr>
          <tr>              
            <td id="identificacao-1430-3"></td> 
          </tr>
          <tr>               
            <td id="identificacao-1430-4"></td>
          </tr>
          <tr>
            <td><div class="time card-program">15:00</div></td>
            <td><div class="interval card-program">Intervalo</div></td>
          </tr>
          <tr>
            <td rowspan="4"><div class="time card-program"><p>15:10</p></div></td>
            <td id="identificacao-1510-1"></td>
          </tr>
          <tr>
            <td id="identificacao-1510-2"></td>
          </tr>
          <tr>
            <td id="identificacao-1510-3"></td>
          </tr>
          <tr>
            <td id="identificacao-1510-4"></td>
          </tr>
          <tr>
            <td><div class="time card-program">15:40</div></td>
            <td><div class="interval card-program">Intervalo</div></td>
          </tr>
          <tr>
            <td rowspan="4"><div class="time card-program"><p>15:50</p></div></td>
            <td id="identificacao-1550-1"></td>
          </tr>
          <tr>
            <td id="identificacao-1550-2"></td>
          </tr>
          <tr>
            <td id="identificacao-1550-3"></td>
          </tr>
          <tr>
            <td id="identificacao-1550-4"></td>
          </tr>
          <tr>
            <td><div class="time card-program">16:40</div></td>
            <td id="identificacao-1640"></td>
          </tr>
          <tr class="linha-dia-padrao">
            <td><div class="time card-program">17:10</div></td>
            <td id="identificacao-1710"></td>
          </tr>
          <tr class="dia-linha-10">
            <td rowspan="7"><div class="time card-program"><p>17:10</p></div></td>
            <td id="identificacao-1710-1"></td>
          </tr>
          <tr>
            <td id="identificacao-1710-2"></td>
          </tr>
          <tr>
            <td id="identificacao-1710-3"></td>
          </tr>
          <tr>
            <td id="identificacao-1710-4"></td>
          </tr>
          <tr>
            <td id="identificacao-1710-5"></td>
          </tr>
          <tr>
            <td id="identificacao-1710-6"></td>
          </tr>
          <tr>
            <td id="identificacao-1710-7"></td>
          </tr>
          <tr>
            <td><div class="time card-program">18:00</div></td>
            <td id="identificacao-1800"></td>
          </tr>
          <tr  class="dia-linha-10">
            <td><div class="time card-program">18:30</div></td>
            <td id="identificacao-1830"></td>
          </tr>
        </tbody>
      </table> 

      <table class="response-version-screen">
        <tr >
          <td>
          </td>
          <td>
            <div class="activity workspace card-program">Workshops</div>
          </td>       
        </tr>
        <tr >
          <td rowspan="3"><div class="time card-program"> <p>10:50 <br/> - <br/>13:00</p></div></td>
          <td id="identificacao-1050-5"></td>   
        </tr>
        <tr>   
          <td id="identificacao-1050-6"></td>      
        </tr>
        <tr>   
          <td id="identificacao-1050-7"></td>
        </tr>
        <tr >
          <td rowspan="3"><div class="time card-program"> <p>14:30 <br/> - <br/>16:40</p></div></td>
          <td id="identificacao-1430-5"></td>   
        </tr>
        <tr>   
          <td id="identificacao-1430-6"></td>     
        </tr>
        <tr>   
          <td id="identificacao-1430-7"></td>
        </tr>
      </table>
    </section>
  </div>
</div>


<section id="keynotes" class="wrapper">
  <div class="inner speakers">
    <header class="heading major">
      <h2>Palestrantes</h2>
    </header>
  
  <div class="profiles session-speakers">

    {% for speaker in site.data.speakers %}
    <div class="profile">
      <div  style="display: none" class="image-keynotes">
        <img class="image-speaker" src="{{speaker.photo}}" alt="{% t labels.photo_of %} {{speaker.name}}" />
      </div>
      <div class="image-keynotes" style="width: 125px !important;
      height: 125px !important;
      border-radius: 50% !important;
      margin: auto;
      background-image: url({{speaker.photo}});
      background-size: cover;" alt="{% t labels.photo_of %} {{speaker.name}}">
      </div>
      <p><b>{{ speaker.name }}</b></p>
      <p>{{ speaker.minibio }}</p>
      <ul class="icons hastag">
        {% if speaker.raizes %}
          <li><span class="hastag-speakers raizes">#Raízes da Agilidade</span></li>
        {% endif %}
        {% if speaker.lideranca %}
          <li><span class="hastag-speakers lideranca">#Liderança e Agilidade Estratégica</span></li>
        {% endif %}
        {% if speaker.metricas %}
          <li><span class="hastag-speakers metrica">#Métricas e Inteligência com Dados</span></li>
        {% endif %}
        {% if speaker.cliente %}
          <li><span class="hastag-speakers cliente">#Produtos e Foco no Cliente</span></li>
        {% endif %}
        {% if speaker.futuro %}
          <li><span  class="hastag-speakers futuro">#Futuro da Agilidade</span></li>
        {% endif %}
      </ul>
      <ul class="icons">
        {% if speaker.linkedin %}
          <li><a href="{{ speaker.linkedin }}" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
        {% endif %}
        {% if speaker.twitter %}
          <li><a href="{{ speaker.twitter }}" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
        {% endif %}
        {% if speaker.site %}
          <li><a href="{{ speaker.site }}" class="icon solid fas fa-link" target="_blank"><span class="label">Website</span></a></li>
        {% endif %}
        {% if speaker.spotify %}
          <li><a href="{{ speaker.spotify }}" class="icon brands fa-spotify" target="_blank"><span class="label">Podcast</span></a></li>
        {% endif %}
      </ul>
    </div>
    {% endfor %}

  </div>
</div>

</section>
<style>
  .patrocinadoras {
    display: none;
  }
</style>
