---
title: nav.program
namespace: program-v2
permalink: /programa-v2
permalink_en: /program-v2
---
{% if site.data.toggles.keynotes %}
<section id="keynotes" class="wrapper">
  <div class="inner">
    <header class="heading major">
      <h2>{% t labels.keynotes %}</h2>
    </header>

    {% include keynotes.html %}
  </div>
</section>
{% endif %}

<div id="main" class="wrapper style1">
  <div class="inner">
    <header class="heading major">
      <h1>Programa</h1>
      <p>O que vai rolar na Agile Brazil 2023</p>
    </header>

    <!-- <p class="left">A programação da Agile Brazil está saindo do forno e você já pode ver uma prévia do que vai rolar! Durante a conferência, a grade será mostrada em um app para que você acompanhe as mudanças <em>live</em>. Enquanto o app não fica pronto, você pode ver dia e horário das suas sessões favoritas <a href="assets/grade-ab2022-prelim.pdf" target="_blank">nesse pdf</a>.</p>

    <p>A Agile Brazil 2022 terá programação das 9am às 6pm nos 3 dias. Vale lembrar, também, que a grade pode ser alterada a qualquer momento, respondendo às mudanças que chegam até nós!</p> -->

    <section id="program-intregration"  class="program">

    </section>

    <div style="    margin: 100px;    height: 5px;     background-color: #000;">
      <hr/>
    </div>

    <section id="program-intregration-v1"  class="program">
      <table>
        <tr  style="background-color: rgba(0, 0, 0, 0); text-align: center;">
          <td></td>
          <td>Palco 1</td>
          <td>Palco 2</td>
          <td>Workshops</td>
          <td>Workshops 2</td>
        </tr>
        <tr  style="background-color: rgba(0, 0, 0, 0);">
          <td>08:00</td>
          <td  style="background-color: rgba(0, 0, 0, 0.075);" colspan="4">
            <div style="
            border-radius: 8px;
            background-color: #063676;
            max-width: 150px;
            margin: auto;
            font-size: 12px;
            font-weight: bold;
            color: #fff;
            text-align: center;
        ">ÁREA DE NETWORKING</div>
            <div><h3 style="text-align: center;">Credenciamento</h3></div>
          </td>
        </tr>
        <tr  style="background-color: rgba(0, 0, 0, 0);">
          <td>09:00</td>
          <td colspan="4" style="background-color: rgba(0, 0, 0, 0.075);">
            <div style="
            border-radius: 8px;
            background-color: #063676;
            max-width: 150px;
            margin: auto;
            font-size: 12px;
            font-weight: bold;
            color: #fff;
            text-align: center;
        ">PALCO CENTRAL</div>
            <div><h3 style="text-align: center;">ABERTURA</h3></div>
          </td>
        </tr>
        <tr  style="background-color: rgba(0, 0, 0, 0);">
          <td>10:00</td>
          <td  style="background-color: rgba(0, 0, 0, 0.075);  vertical-align: middle; text-align: center;">
            Mão na massa - Como criar e manter um time ágil? <br/>
            <b>Annelise Gripp</b>
          </td>
          <td  style="vertical-align: middle; text-align: center;">
            Mão na massa - Teambuilding: Liderança, Confiança e Propósito <br/>
            <b>Luiz Júnior</b>
          </td>
          <td rowspan="2"  style="background-color: rgba(0, 0, 0, 0.075); vertical-align: middle; text-align: center;">
            Dedo de prosa - O chatgpt vai roubar o meu emprego de agilista? <br/>
            <b>Pedro Colen</b>
          </td>
          <td rowspan="2"  style="vertical-align: middle; text-align: center;">
            Dedo de prosa - O que é esse trem de Liderança ágil?<br/>
            <b>Alexandre Marques</b>
          </td>
        </tr>
        <tr  style="background-color: rgba(0, 0, 0, 0);">
          <td>11:00</td>
          <td  style="background-color: rgba(0, 0, 0, 0.075);  vertical-align: middle; text-align: center;">
            Mão na massa - Quebrando as Barreiras da Comunicação Ágil: Como a Colaboração e Comunicação podem Transformar seus Projetos de TI. <br/>
            <b>Fernanda Matos</b>
          </td>
          <td style="vertical-align: middle; text-align: center;">
            Lean Coffee <br/>
            <b>Nivaldo Silva</b>
          </td>
        </tr>
      </table>
    </section>


    <div style="    margin: 100px;    height: 5px;     background-color: #000;">
      <hr/>
    </div>
    <header class="heading major">
      <h1>Palestrantes</h1>
      <p>O que vai rolar na Agile Brazil 2023</p>
    </header>

    <div class="profile" style="max-width: 300px;     text-align: center;">
      <div class="image-keynotes">
        <img style="width: 80%; height:auto;" src="https://ui-avatars.com/api/?background=45789C&color=fff&rounded=true&name=Eudes Raphael de Sá Santana" />
      </div>
      <p>Eudes Raphael de Sá Santana</p>
      <ul class="icons">
        <li><a href="{{ keynote.linkedin }}" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
        <li><a href="{{ keynote.twitter }}" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
        <li><a href="{{ keynote.site }}" class="icon solid fas fa-link" target="_blank"><span class="label">Website</span></a></li>
        <li><a href="{{ keynote.spotify }}" class="icon brands fa-spotify" target="_blank"><span class="label">Podcast</span></a></li>
      </ul>
    </div>
<!--
    <section class="program">
      <h2>Mãos na Massa</h2>
      <ul class="workshops">
      {% assign workshops = site.data.sessions | where:"type", "Mão Na Massa" %}
      {% for workshop in workshops %}
        {% include session.html session=workshop %}
      {% endfor %}
      </ul>

      <h2>Apresentações</h2>
      <ul class="talks">
      {% assign talks = site.data.sessions | where:"type", "Apresentação" %}
      {% for talk in talks %}
        {% include session.html session=talk %}
      {% endfor %}
      </ul>
    </section>

    <hr>
  -->
<!--
    <p>Para conhecer um pouco do conteúdo que recebemos na conferência, assista as palestras de outras edições da Agile Brazil no nosso canal no Youtube!</p>
        <ul class="actions special">
          <li><a href="https://www.youtube.com/channel/UCq45wLjEs9BRRreV02Fe8rw" class="button primary" target="_blank"><span class="fab fa-youtube"></span> Reveja conteúdo da AB</a></li>
        </ul>
      -->
  </div>
</div>
